<%if @user == Helpers.current_user(session)%>
<h1 class="welcome">Welcome to your Project Tracker, <%=@user.username%>!</h1>
<%else%>
<h1 class="welcome">Welcome to <%=@user.username%>'s Project Tracker!</h1>
<%end%>

<a href="/logout" class="logout">Log Out</a>

<%@user.projects.each do |project| %>
<h4><a href="/projects/<%=project.id%>"><%=project.name%></a></h4>
<%end%>
<p class="description" id="user_description"><%=project.description%></p>
<%end%>
